<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
  <body>
    <!-- Navbar -->
    <nav class="navbar bg-success navbar-dark sticky-top">
        <div class="container">
          <a class="navbar-brand" href="#">
            MyGPT
          </a>
        </div>
      </nav>

      <!-- Conversation -->
      <div class="container-fluid" id="conversationContainer" style="height: 80vh;overflow:scroll;">

      </div>
      <!-- Prompt Input-->
      <div class="container-fluid" id="parentContainer">
        <div class="container" id="promptContainer1">
            <div class="input-group m-3">
                <input type="text" class="form-control" placeholder="How can I assist you today?" aria-label="User prompt" aria-describedby="button-addon2" id="prompt">
                <button class="btn btn-success" type="button" id="submitPrompt" onclick="getResponse()" >Send</button>
              </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        function pushUserPromptToConversationWindow(userPrompt)
        {
            var conversationWindow = document.getElementById("conversationContainer");
            conversationWindow.innerHTML += `
            <div class="row mt-3">
                <div class="col-2 col-lg-1 d-flex justify-content-center">
                    <div  class="d-flex justify-content-center align-items-center" style="display:flex;border-radius: 100%;background-color: gainsboro;height:40px;width:40px">
                        <h3 class="d-flex align-item-center"><i class="bi bi-person-fill"></i></h3>
                    </div>
                </div>
                <div class="col d-flex align-items-center">
                    <p>${userPrompt}</p>
                </div>
            </div>
            `
            conversationWindow.scrollTop =conversationWindow.scrollHeight;

        }
        function processResponse(promptResponse)
        {
            var conversationWindow = document.getElementById("conversationContainer");
            conversationWindow.innerHTML += `
            <div class="row mt-3">
                <div class="col-2 col-lg-1 d-flex justify-content-center">
                    <div class="d-flex justify-content-center align-items-center" style="display:flex;border-radius: 100%;background-color: gainsboro;height:40px;width:40px">
                        <h3 class="d-flex align-item-center" ><i class="bi bi-robot"></i></h3>
                    </div>
                </div>
                <div class="col align-items-center">
                    <p>${promptResponse}</p>
                </div>
            </div>
            `
            conversationWindow.scrollTop =conversationWindow.scrollHeight;

        }
        async function getResponse()
        {
            var userPrompt = document.getElementById("prompt").value;
            document.getElementById("prompt").value='';
            pushUserPromptToConversationWindow(userPrompt)
            await fetch('https://mygpt.titancloud.cloud/prompt?prompt='+userPrompt)
            .then(response=>response.json())
            .then(data => {
                var promptResponse = data["message"]
                processResponse(promptResponse)
            })
        }
    </script>  
</body>
</html>